///fonts///
$font-primary: "Geometria";
$font-secondary:  "monospace";


///colors///
$background: #080807;
$system: #10100E;
$strokes: #4F4F4F;
$body-text:  #8E938C;
$titles: #F7FFEE;
$accent:  #B1FF5C;
$accent-hover:#9AF03C;
$accent-2:#42882A;
$errors: #FF3D3D;
$verification-status: #FFB444;